<br>
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">notice list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

    <!-- screen name, radio btn, and search -->
    <div class="w3-row">

      <div class="w3-right w3-mobile" style="margin: 5px" style="margin: 5px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">search</button>
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" name="option" style="height: 37px;">
          <option value="1" selected>title</option>
          <option value="2">contents</option>
        </select>
      </div>
    </div>
  <!-- date and time filter -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>title</th>
                <th>status</th>
                <th class="w3-center">management</th>
                <th>date</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr>
                <td></td>
                <td></td>
                <td>Jill</td>

                <td>
                  <div style="margin: 3px">
                    <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #efad4d;">hold</button>
                  </div>
                  <div style="margin: 3px">
                    <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #d9544f;">delete</button>
                  </div>
                  <div style="margin: 3px">
                      <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #4ca5df;">modify</button>
                  </div>
                </td>
                <td>50</td>
              </tr>
              
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">1</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">2</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">3</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">4</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">5</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>

<br>

<!-- write notice -->
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">write notice</p>
    <hr class="tableTitleHr">

    <!-- title -->
      <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
        <div class="w3-col" style="width: 60px">
          <p class="w3-right">title&nbsp;</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <input class="w3-input w3-border" style="height: 35px; ">
        </div>
      </div>
    <!-- title end -->
      <hr style="margin: 0">

    <!-- content -->
    <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
      <div class="w3-col" style="width: 60px;">
        <p>contents&nbsp;</p>
      </div>
      <div class="w3-rest" style="margin-top: 10px">
          <textarea rows="4" cols="145" style="resize: vertical">content text</textarea>
      </div>
    </div>
    <!-- content end -->
      <hr style="margin: 0">
    
    <!-- status -->
    <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
      <div class="w3-col" style="width: 60px;">
        <p>status</p>
      </div>
      <div class="w3-rest" style="margin-top: 10px; margin-bottom: 10px">
        <select class="w3-select" name="option">
          <option value="2">register</option>
          <option value="3">hold</option>
        </select>
      </div>
    </div>
    <!-- status end -->
      <hr style="margin: 0">

    <!-- buttons -->
    <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
      <div class="w3-center" style="margin-top: 10px; margin-bottom: 10px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register</button>
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">back</button>
      </div>
    </div>
    <!-- buttons end -->
     
    <br>

</div>
<!-- write notice end-->


<br>
