<br>
<div class="w3-container w3-border w3-card w3-white">

  <!-- table title -->
    <p class="tableTitle">IP list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

    <!-- screen name, radio btn, and search -->
    <form (submit)="searchList($event)" class="w3-row">
      
      <div class="w3-right w3-mobile" style="margin: 5px">
        <input type="submit" class="w3-mobile w3-btn w3-round w3-text-white" style="background-color: #7dd2ec; margin-right: 11px;" value="search" >
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;" id="value">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" style="height: 40px; max-width: 100px;" id="column">
          <option value="PlayerUserAccountID" selected>user ID</option>
          <option value="ScreenName">screen name</option>
          <option value="IP">IP</option>
      </select>
      </div>

    </form>
    <!--  screen name, radio btn, and search end -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>HO ID</th>
                <th>Distributor ID</th>
                <th>store ID</th>
                <th>user ID</th>
                <th>screen name</th>
                <th>IP</th>
                <th>connected date</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div  *ngFor="let ip of ipList">
                <div>
                  {{ip.PlayerUserAccountID}}
                </div>
              </div> -->
              <tr *ngFor="let ip of ipList">
                <td>{{ip.row_number}}</td>
                <td>{{ip.HeadOfficeID}}</td>
                <td>{{ip.DistributorID}}</td>
                <td>{{ip.ShopID}}</td>
                <td>{{ip.PlayerUserAccountID}}</td>
                <td>{{ip.ScreenName}}</td>
                <td>{{ip.IP}}</td>
                <td>{{ip.RegisteredDateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
              </tr>

              <tr [hidden]="!searchResult">
                  <td colspan="8">NO RESULTS FOUND
                    <br>
                    <!-- <input type="button" (click)="back()" value="back"> -->
                    <input type="button" (click)="back()" value="back">
                    <br>
                    
                    
                  </td>
                </tr>
  
                <tr [hidden]="!searchBack">
                  <td colspan="8">RESULT FOUND
                    <br>
                    <input type="button" (click)="back()" value="back">
                  </td>
                </tr>
  
                <tr [hidden]="!backLoading">
                  <td colspan="8">
                    <fa name="spinner" animation="spin" size="lg"></fa>
                  </td>
                </tr>

            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center" [hidden]="hidePagination">
              <button *ngFor="let n of pages" class="w3-button w3-round w3-text-white" style="background-color: #4ca5df; margin:2px">{{n}}</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>


<br>
