
<br>
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">transfer log</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->


  <!-- search option -->
    <div class="w3-row">

      <!-- button -->
      <div class="w3-right w3-mobile" style="margin: 5px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec;  margin-right: 11px">search</button>
      </div>
      <!-- button end -->

      <!-- textbox -->
      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>
      <!-- textbox end-->

      <!-- screen name options -->
      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" name="option" style="height: 37px;">
          <option value="2" selected> sent screen name</option>
          <option value="2">received screen name</option>
        </select>
      </div>
      <!-- screen name options end -->

      <!-- from to date dropdowns -->
        <!-- to -->

          <!-- time text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>시</p>
          </div>
          <!-- time text end -->
          <!-- time start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- time end -->

          <!-- day text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>일</p>
          </div>
          <!-- day text end -->

          <!-- day start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- day end -->

          <!-- month text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>월</p>
          </div>
          <!-- month text end -->

          <!-- month start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- month end -->

          <!-- year text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>년</p>
          </div>
          <!-- year text end -->

          <!-- year start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>2018</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- year end -->

        <!-- to end -->
        
        <!-- from -->

          <!-- time text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>시~</p>
          </div>
          <!-- time text end -->
          <!-- time start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- time end -->

          <!-- day text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>일</p>
          </div>
          <!-- day text end -->

          <!-- day start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- day end -->

          <!-- month text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>월</p>
          </div>
          <!-- month text end -->

          <!-- month start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- month end -->

          <!-- year text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>년</p>
          </div>
          <!-- year text end -->

          <!-- year start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>2018</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- year end -->

        <!-- from end -->

     <!-- from to date dropdowns end --> 



    </div>
  <!-- search option end -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>sent screen name</th>
                <th>received screen name</th>
                <th>amount</th>
                <th>balance(after transfer)</th>
                <th>reason</th>
                <th>date</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">1</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">2</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">3</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">4</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">5</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>

<br>

<!-- write notice -->
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">write notice</p>
    <hr class="tableTitleHr">

    <!-- user screen name -->
      <div class="w3-row" style="margin-left: 11%; margin-right: 15%">
        <div class="w3-col" style="width: 10%">
          <p class="w3-right">rank&nbsp;</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <select class="w3-select" name="option" style="height: 37px;">
              <option value="" selected>head office</option>
              <option value="1">distributor</option>
              <option value="2">store</option>
              <option value="2">user</option>
          </select>
        </div>
      </div>
    <!-- user screen name end -->
      <hr style="margin: 0">

    <!-- title -->
      <div class="w3-row" style="margin-left: 11%; margin-right: 15%">
        <div class="w3-col" style="width: 10%">
          <p class="w3-right">title</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <p class="w3-center">awadr666</p>
        </div>
      </div>
    <!-- title end -->
      <hr style="margin: 0">
    
    <!-- contents -->
    <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
        <div class="w3-col" style="width: 60px">
          <p class="w3-right">contents&nbsp;</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <input class="w3-input w3-border" style="height: 35px; " disabled>
        </div>
      </div>
    <!-- contents end -->
      <hr style="margin: 0">

    <!-- date -->
    <div class="w3-row" style="margin-left: 11%; margin-right: 15%">
        <div class="w3-col" style="width: 10%">
          <p class="w3-right">date</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <p class="w3-center">awadr666</p>
        </div>
      </div>
    <!-- date end -->
      <hr style="margin: 0">

    <!-- answer -->
    <div class="w3-row"  style="margin-left: 15%; margin-right: 15%">
        <div class="w3-col" style="width: 60px;">
          <p>answer</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
            <textarea rows="4" cols="145" style="resize: vertical">answer text</textarea>
        </div>
      </div>
      <!-- answer end -->
        <hr style="margin: 0">

    <!-- answer date -->
    <div class="w3-row" style="margin-left: 11%; margin-right: 15%">
        <div class="w3-col" style="width: 10%">
          <p class="w3-right">answer date</p>
        </div>
        <div class="w3-rest" style="margin-top: 10px">
          <p class="w3-center">awadr666</p>
        </div>
      </div>
    <!-- answer date end -->
      <hr style="margin: 0">

    <!-- buttons -->
    <div class="w3-row" style="margin-left: 15%; margin-right: 15%">
      <div class="w3-center" style="margin-top: 10px; margin-bottom: 10px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register</button>
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">back</button>
      </div>
    </div>
    <!-- buttons end -->
 
    <br>

</div>
<!-- write notice end-->


<br>
