<!-- color:#1ecead -->
<!-- dashboard container start -->
<div class="w3-container">
  <!-- top dashboard -->
  <div class="w3-row" style="margin-top:5px;">

    <!-- total members -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container w3-rightbar">
        <div style="height: 100px;">
            
          <div class="w3-threequarter">
            <p>
              <fa name="user"></fa>
              total members(real)
            </p>
            <strong style="color:#1ecead">
              total members(all)
            </strong>
          </div>
  
          <div class="w3-quarter">
              <p>{{totalRegisteredUser}}</p>
          </div>

        </div>
      </div>
    </div>
    <!-- total members end -->

    <!-- today joined members -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container w3-rightbar">
        <div style="height: 100px;">
          <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                today joined members(real)
              </p>
              <strong style="color:#1ecead">
                today joined members(all)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>{{totalRegisteredUserToday}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- today joined members end -->

    <!--  connecting members -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container w3-rightbar">
        <div style="height: 100px;">
          <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                connecting members(real) 
              </p>
              <strong style="color:#1ecead">
                connecting members(real)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>{{totalConnectingMembers}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!--  connecting members end -->

    <!-- deposit of today -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container w3-rightbar">
        <div style="height: 100px;">
          <div class="w3-threequarter">
            <p>
              <fa name="user"></fa>
              deposit of today(real)
            </p>
            <strong style="color:#1ecead">
              deposit of today(real) 
            </strong>
          </div>
  
          <div class="w3-quarter">
            <div class="w3-cell w3-cell-middle">
              <p>{{totalDepositToday}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- deposit of today end -->

    <!-- withdraw of today -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container w3-rightbar">
        <div style="height: 100px;">
          <div class="w3-threequarter">
            <p>
              <fa name="user"></fa>
              withdraw of today (real)
            </p>
            <strong style="color:#1ecead">
              withdraw of today (real)
            </strong>
          </div>
  
          <div class="w3-quarter">
            <div class="w3-cell w3-cell-middle">
              <p>{{totalWithdrawToday}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- withdraw of today end -->

    <!-- holding money -->
    <div class="w3-col" style="width: 16.66%">
      <div class="w3-container">
        <div style="height: 100px;">
          <div class="w3-threequarter">
            <p>
              <fa name="user"></fa>
              holding money(real)
            </p>
            <strong style="color:#1ecead">
              holding money(real)
            </strong>
          </div>
  
          <div class="w3-quarter">
            <div class="w3-cell w3-cell-middle">
              <p>818</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holding money end -->

  </div>
  <!-- top dashboard end -->

  <!-- progress bars row 1 -->
  <div class="w3-row" style="margin-top:20px">

    <!-- betting ranking by head office (daily) -->
    <div class="w3-third w3-container">
      <div class="w3-card w3-white">
        <!-- card header -->
        <div class="w3-container">
          <h4 class="w3-left">betting ranking by head office daily</h4>
          <div class="w3-right">
            <div class="w3-row">
              <h4 class="w3-text-sand0">
                <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
              </h4>
            </div>
          </div>
        </div>
        <hr class="tableTitleHr">
        <!-- card header end -->
        <fa [hidden]="!dailyLoading" name="spinner" animation="spin" size="lg" style="margin:50%"></fa>
        <!-- card content -->
        <div *ngFor="let daily of bettingRankingHODaily" class="w3-padding">
          <div class="w3-row">

            <!-- money -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                  {{daily.TotalDailyBettingByHeadOffice}}
                </div>
            </div>
            <!-- money end -->

            <!-- bar -->
            <div class="w3-col" style="width: 70%;">
                <div class="w3-border">
                  <div class="holdemGreen" style="height:24px;" [ngStyle]="{'width': daily.Percentage + '%'}"></div>
                </div>
            
            </div>
            <!-- bar end-->

            <!-- name -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                {{daily.HeadOfficeUserAccountID}}
              </div>
            </div>
            <!-- name end -->
          </div>
        </div>
        <!-- card content end -->

      </div>
    </div>
    <!-- betting ranking by head office end (daily) -->

    <!-- betting ranking by head office (weekly) -->
    <div class="w3-third w3-container">
      <div class="w3-card w3-white">
        <!-- card header -->
        <div class="w3-container">
          <h4 class="w3-left">betting ranking by head office weekly</h4>
          <div class="w3-right">
            <div class="w3-row">
              <h4 class="w3-text-sand0">
                <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
              </h4>
            </div>
          </div>
        </div>
        <hr class="tableTitleHr">
        <!-- card header end -->
        
        <!-- card content -->
        <div *ngFor="let daily of bettingRankingHODaily" class="w3-padding">
          <div class="w3-row">

            <!-- money -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                  {{daily.TotalDailyBettingByHeadOffice}}
                </div>
            </div>
            <!-- money end -->

            <!-- bar -->
            <div class="w3-col" style="width: 70%;">
                <div class="w3-border">
                  <div class="holdemGreen" style="height:24px;width:20%"></div>
                </div>
            
            </div>
            <!-- bar end-->

            <!-- name -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                {{daily.HeadOfficeUserAccountID}}
              </div>
            </div>
            <!-- name end -->
          </div>
        </div>
        <!-- card content end -->

      </div>
    </div>
    <!-- betting ranking by head office end (weekly) -->

    <!-- betting ranking by head office (monthly) -->
    <div class="w3-third w3-container">
      <div class="w3-card w3-white">
        <!-- card header -->
        <div class="w3-container">
          <h4 class="w3-left">betting ranking by head office monthly</h4>
          <div class="w3-right">
            <div class="w3-row">
              <h4 class="w3-text-sand0">
                <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
              </h4>
            </div>
          </div>
        </div>
        <hr class="tableTitleHr">
        <!-- card header end -->
        <fa [hidden]="!monthlyLoading" name="spinner" animation="spin" size="lg" style="margin:50%"></fa>
        
        <!-- card content -->
        <div *ngFor="let monthly of bettingRankingHOMonthly" class="w3-padding">
          <div class="w3-row">

            <!-- money -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                  {{monthly.TotalMonthlyBettingByHeadOffice}}
                </div>
            </div>
            <!-- money end -->

            <!-- bar -->
            <div class="w3-col" style="width: 70%;">
                <div class="w3-border">
                  <div class="holdemGreen" style="height:24px;width:20%"></div>
                </div>
            
            </div>
            <!-- bar end-->

            <!-- name -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                {{monthly.HeadOfficeUserAccountID}}
              </div>
            </div>
            <!-- name end -->
          </div>
        </div>
        <!-- card content end -->

      </div>
    </div>
    <!-- betting ranking by head office end (daily) -->

  </div>
  <!-- progress bars row 1 end -->

  <!-- progress bars row 1 -->
  <div class="w3-row" style="margin-top:20px">

      <!-- betting ranking by head office (daily) -->
      <div class="w3-third w3-container">
        <div class="w3-card w3-white">
          <!-- card header -->
          <div class="w3-container">
            <h4 class="w3-left">deposit ranking by head office (daily)</h4>
            <div class="w3-right">
              <div class="w3-row">
                <h4 class="w3-text-sand0">
                  <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                </h4>
              </div>
            </div>
          </div>
          <hr class="tableTitleHr">
          <!-- card header end -->
          <fa [hidden]="!depositRankingLoading" name="spinner" animation="spin" size="lg" style="margin:50%"></fa>
          <!-- card content -->
          <div *ngFor="let deposit of depositRankingDaily" class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    {{deposit.Amount}}
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;" [ngStyle]="{'width': deposit.Percentage + '%'}"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  {{deposit.HeadOfficeUserAccountID}}
                </div>
              </div>
              <!-- name end -->
            </div>
          </div>
          <!-- card content end -->
        </div>
      </div>
      <!-- betting ranking by head office end (daily) -->
  
      <!-- betting ranking by head office (weekly) -->
      <div class="w3-third w3-container">
        <div class="w3-card w3-white">
          <!-- card header -->
          <div class="w3-container">
            <h4 class="w3-left">withdraw ranking by head office (daily)</h4>
            <div class="w3-right">
              <div class="w3-row">
                <h4 class="w3-text-sand0">
                  <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                </h4>
              </div>
            </div>
          </div>
          <hr class="tableTitleHr">
          <!-- card header end -->
          <fa [hidden]="!withdrawRankingLoading" name="spinner" animation="spin" size="lg" style="margin:50%"></fa>
          <!-- card content -->
          <div *ngFor="let withdraw of withdrawRankingDaily" class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    {{withdraw.ExitingAmount}}
                    
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;" [ngStyle]="{'width': withdraw.Percentage + '%'}"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    {{withdraw.HeadofficeUserAccountID}}
                </div>
              </div>
              <!-- name end -->
            </div>
          </div>
          <!-- card content end -->
        </div>
      </div>
      <!-- betting ranking by head office end (weekly) -->
  
      <!-- betting ranking by head office (monthly) -->
      <div class="w3-third w3-container">
          <div class="w3-card w3-white">
            <!-- card header -->
            <div class="w3-container">
              <h4 class="w3-left">holding money by head office</h4>
              <div class="w3-right">
                <div class="w3-row">
                  <h4 class="w3-text-sand0">
                    <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                    <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                    <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                  </h4>
                </div>
              </div>
            </div>
            <hr class="tableTitleHr">
            <!-- card header end -->
            
            <!-- card content -->
            <div class="w3-padding">
              <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
              </div>
            </div>
            <!-- card content end -->
            
          </div>
      </div>
      <!-- betting ranking by head office end (monthly) -->
  
  </div>
  <!-- progress bars row 1 end -->

</div>
<!-- dashboard container end  -->