<!-- color:#1ecead -->
<!-- dashboard container start -->
<div class="w3-container">
  <!-- top dashboard -->
  <div class="w3-row" style="margin-top:5px">

    <div class="w3-third">

      <!-- total members -->
      <div class="w3-half w3-rightbar">

        <div class="w3-container">
          <div class="w3-threequarter">
            <p>
              <fa name="user"></fa>
              total members(real)
            </p>
            <strong style="color:#1ecead">
              total members(all)
            </strong>
          </div>
  
          <div class="w3-quarter">
            <div class="w3-cell w3-cell-middle">
              <p>{{totalMembers}}</p>
            </div>
          </div>
        </div>

      </div>
      <!-- total members end -->

      <!-- today joined members -->
      <div class="w3-half w3-rightbar">

          <div class="w3-container">
            <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                today joined members(real)
              </p>
              <strong style="color:#1ecead">
                today joined members(all)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p></p>
              </div>
            </div>
          </div>
  
        </div>
      <!-- today joined members end -->

    </div>

    <div class="w3-third">

      <!-- connecting members -->
      <div class="w3-half w3-rightbar">

          <div class="w3-container">
            <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                connecting members(real)
              </p>
              <strong style="color:#1ecead">
                connecting members(real)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>818</p>
              </div>
            </div>
          </div>
  
        </div>
      <!-- connecting members end -->

      <!-- deposit of today -->
      <div class="w3-half w3-rightbar">

          <div class="w3-container">
            <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
               deposit of today(real)
              </p>
              <strong style="color:#1ecead">
               deposit of today(real)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>{{totalDepositToday}}</p>
              </div>
            </div>
          </div>
  
      </div>
      <!-- deposit of today end-->

    </div>

    <div class="w3-third">

      <!-- withdraw of today -->
      <div class="w3-half w3-rightbar">

          <div class="w3-container">
            <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                withdraw of today (real)
              </p>
              <strong style="color:#1ecead">
                withdraw of today (real)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>{{totalWithdrawToday}}</p>
              </div>
            </div>
          </div>
  
      </div>
      <!-- withdraw of today end-->

      <!-- holding money -->
      <div class="w3-half w3-rightbar">

          <div class="w3-container">
            <div class="w3-threequarter">
              <p>
                <fa name="user"></fa>
                holding money(real)
              </p>
              <strong style="color:#1ecead">
                holding money(real)
              </strong>
            </div>
    
            <div class="w3-quarter">
              <div class="w3-cell w3-cell-middle">
                <p>818</p>
              </div>
            </div>
          </div>
  
      </div>
      <!-- holding money end-->

    </div>

  </div>
  <!-- top dashboard end -->

  <!-- progress bars row 1 -->
  <div class="w3-row" style="margin-top:20px">

    <!-- betting ranking by head office (daily) -->
    <div class="w3-third w3-container">
      <div class="w3-card w3-white">
        <!-- card header -->
        <div class="w3-container">
          <h4 class="w3-left">betting ranking by head office daily</h4>
          <div class="w3-right">
            <div class="w3-row">
              <h4 class="w3-text-sand0">
                <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
              </h4>
            </div>
          </div>
        </div>
        <hr class="tableTitleHr">
        <!-- card header end -->
        
        <!-- card content -->
        <div class="w3-padding">
          <div class="w3-row">

            <!-- money -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                  700,023
                </div>
            </div>
            <!-- money end -->

            <!-- bar -->
            <div class="w3-col" style="width: 70%;">
                <div class="w3-border">
                  <div class="holdemGreen" style="height:24px;width:20%"></div>
                </div>
            
            </div>
            <!-- bar end-->

            <!-- name -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                JIN05ss
              </div>
            </div>
            <!-- name end -->
          </div>
        </div>
        <!-- card content end -->

        <!-- card content 2 -->
        <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
        </div>
          <!-- card content 2 end -->

        <!-- card content 3 -->
        <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
        </div>
        <!-- card content 3 end -->

      </div>
    </div>
    <!-- betting ranking by head office end (daily) -->

    <!-- betting ranking by head office (weekly) -->
    <div class="w3-third w3-container">
      <div class="w3-card w3-white">
        <!-- card header -->
        <div class="w3-container">
          <h4 class="w3-left">betting ranking by head office weekly</h4>
          <div class="w3-right">
            <div class="w3-row">
              <h4 class="w3-text-sand0">
                <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
              </h4>
            </div>
          </div>
        </div>
        <hr class="tableTitleHr">
        <!-- card header end -->
        
        <!-- card content -->
        <div class="w3-padding">
          <div class="w3-row">

            <!-- money -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                  700,023
                </div>
            </div>
            <!-- money end -->

            <!-- bar -->
            <div class="w3-col" style="width: 70%;">
                <div class="w3-border">
                  <div class="holdemGreen" style="height:24px;width:20%"></div>
                </div>
            
            </div>
            <!-- bar end-->

            <!-- name -->
            <div class="w3-col" style="width: 15%;">
              <div class="w3-center">
                JIN05
              </div>
            </div>
            <!-- name end -->
          </div>
        </div>
        <!-- card content end -->

        <!-- card content 2 -->
        <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
        </div>
          <!-- card content 2 end -->

        <!-- card content 3 -->
        <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
        </div>
        <!-- card content 3 end -->
        
      </div>
    </div>
    <!-- betting ranking by head office end (weekly) -->

    <!-- betting ranking by head office (monthly) -->
    <div class="w3-third w3-container">
        <div class="w3-card w3-white">
          <!-- card header -->
          <div class="w3-container">
            <h4 class="w3-left">betting ranking by head office monthly</h4>
            <div class="w3-right">
              <div class="w3-row">
                <h4 class="w3-text-sand0">
                  <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                </h4>
              </div>
            </div>
          </div>
          <hr class="tableTitleHr">
          <!-- card header end -->
          
          <!-- card content -->
          <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
          </div>
          <!-- card content end -->
  
          <!-- card content 2 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
            <!-- card content 2 end -->
  
          <!-- card content 3 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
          <!-- card content 3 end -->
          
        </div>
    </div>
    <!-- betting ranking by head office end (monthly) -->

  </div>
  <!-- progress bars row 1 end -->

  <!-- progress bars row 1 -->
  <div class="w3-row" style="margin-top:20px">

      <!-- betting ranking by head office (daily) -->
      <div class="w3-third w3-container">
        <div class="w3-card w3-white">
          <!-- card header -->
          <div class="w3-container">
            <h4 class="w3-left">betting ranking by head office daily</h4>
            <div class="w3-right">
              <div class="w3-row">
                <h4 class="w3-text-sand0">
                  <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                </h4>
              </div>
            </div>
          </div>
          <hr class="tableTitleHr">
          <!-- card header end -->
          
          <!-- card content -->
          <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
          </div>
          <!-- card content end -->
  
          <!-- card content 2 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
            <!-- card content 2 end -->
  
          <!-- card content 3 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
          <!-- card content 3 end -->
  
        </div>
      </div>
      <!-- betting ranking by head office end (daily) -->
  
      <!-- betting ranking by head office (weekly) -->
      <div class="w3-third w3-container">
        <div class="w3-card w3-white">
          <!-- card header -->
          <div class="w3-container">
            <h4 class="w3-left">betting ranking by head office weekly</h4>
            <div class="w3-right">
              <div class="w3-row">
                <h4 class="w3-text-sand0">
                  <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                  <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                </h4>
              </div>
            </div>
          </div>
          <hr class="tableTitleHr">
          <!-- card header end -->
          
          <!-- card content -->
          <div class="w3-padding">
            <div class="w3-row">
  
              <!-- money -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                    700,023
                  </div>
              </div>
              <!-- money end -->
  
              <!-- bar -->
              <div class="w3-col" style="width: 70%;">
                  <div class="w3-border">
                    <div class="holdemGreen" style="height:24px;width:20%"></div>
                  </div>
              
              </div>
              <!-- bar end-->
  
              <!-- name -->
              <div class="w3-col" style="width: 15%;">
                <div class="w3-center">
                  JIN05
                </div>
              </div>
              <!-- name end -->
            </div>
          </div>
          <!-- card content end -->
  
          <!-- card content 2 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
            <!-- card content 2 end -->
  
          <!-- card content 3 -->
          <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
          </div>
          <!-- card content 3 end -->
          
        </div>
      </div>
      <!-- betting ranking by head office end (weekly) -->
  
      <!-- betting ranking by head office (monthly) -->
      <div class="w3-third w3-container">
          <div class="w3-card w3-white">
            <!-- card header -->
            <div class="w3-container">
              <h4 class="w3-left">betting ranking by head office monthly</h4>
              <div class="w3-right">
                <div class="w3-row">
                  <h4 class="w3-text-sand0">
                    <a href="#" class="w3-padding-small"><fa name="angle-up"></fa></a>  
                    <a href="#" class="w3-padding-small"><fa name="wrench"></fa></a>  
                    <a href="#" class="w3-padding-small"><fa name="times"></fa></a>  
                  </h4>
                </div>
              </div>
            </div>
            <hr class="tableTitleHr">
            <!-- card header end -->
            
            <!-- card content -->
            <div class="w3-padding">
              <div class="w3-row">
    
                <!-- money -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                      700,023
                    </div>
                </div>
                <!-- money end -->
    
                <!-- bar -->
                <div class="w3-col" style="width: 70%;">
                    <div class="w3-border">
                      <div class="holdemGreen" style="height:24px;width:20%"></div>
                    </div>
                
                </div>
                <!-- bar end-->
    
                <!-- name -->
                <div class="w3-col" style="width: 15%;">
                  <div class="w3-center">
                    JIN05
                  </div>
                </div>
                <!-- name end -->
              </div>
            </div>
            <!-- card content end -->
    
            <!-- card content 2 -->
            <div class="w3-padding">
                <div class="w3-row">
      
                  <!-- money -->
                  <div class="w3-col" style="width: 15%;">
                    <div class="w3-center">
                        700,023
                      </div>
                  </div>
                  <!-- money end -->
      
                  <!-- bar -->
                  <div class="w3-col" style="width: 70%;">
                      <div class="w3-border">
                        <div class="holdemGreen" style="height:24px;width:20%"></div>
                      </div>
                  
                  </div>
                  <!-- bar end-->
      
                  <!-- name -->
                  <div class="w3-col" style="width: 15%;">
                    <div class="w3-center">
                      JIN05
                    </div>
                  </div>
                  <!-- name end -->
                </div>
            </div>
              <!-- card content 2 end -->
    
            <!-- card content 3 -->
            <div class="w3-padding">
                <div class="w3-row">
      
                  <!-- money -->
                  <div class="w3-col" style="width: 15%;">
                    <div class="w3-center">
                        700,023
                      </div>
                  </div>
                  <!-- money end -->
      
                  <!-- bar -->
                  <div class="w3-col" style="width: 70%;">
                      <div class="w3-border">
                        <div class="holdemGreen" style="height:24px;width:20%"></div>
                      </div>
                  
                  </div>
                  <!-- bar end-->
      
                  <!-- name -->
                  <div class="w3-col" style="width: 15%;">
                    <div class="w3-center">
                      JIN05
                    </div>
                  </div>
                  <!-- name end -->
                </div>
            </div>
            <!-- card content 3 end -->
            
          </div>
      </div>
      <!-- betting ranking by head office end (monthly) -->
  
  </div>
  <!-- progress bars row 1 end -->

</div>
<!-- dashboard container end  -->