<br>
<div class="w3-container w3-border w3-card w3-white">

  <!-- table title -->
    <p class="tableTitle">calculate management</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

    <!-- dropdowns -->
    <div class="w3-row">
      <div class="w3-right w3-mobile" style="margin: 5px">
          <button class="w3-mobile w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px;">search</button>
      </div>
      <!-- from to date dropdowns -->
        <!-- to -->

          <!-- time text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>시</p>
          </div>
          <!-- time text end -->
          <!-- time start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- time end -->

          <!-- day text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>일</p>
          </div>
          <!-- day text end -->

          <!-- day start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- day end -->

          <!-- month text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>월</p>
          </div>
          <!-- month text end -->

          <!-- month start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- month end -->

          <!-- year text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>년</p>
          </div>
          <!-- year text end -->

          <!-- year start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>2018</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- year end -->

        <!-- to end -->
        
        <!-- from -->

          <!-- time text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>시~</p>
          </div>
          <!-- time text end -->
          <!-- time start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- time end -->

          <!-- day text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>일</p>
          </div>
          <!-- day text end -->

          <!-- day start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- day end -->

          <!-- month text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>월</p>
          </div>
          <!-- month text end -->

          <!-- month start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>1</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- month end -->

          <!-- year text -->
          <div class="w3-right w3-mobile" style="margin: 5px">
              <p>년</p>
          </div>
          <!-- year text end -->

          <!-- year start -->
            <div class="w3-right w3-mobile" style="margin: 5px">
              <select class="w3-select" name="option" style="height: 37px;">
                  <option value="" selected>2018</option>
                  <option value="1"> 2</option>
                  <option value="2"> 3</option>
                  <option value="3"> 4</option>
                  <option value="3"> 5</option>
                  <option value="3"> 6</option>
                  <option value="3"> 7</option>
                  <option value="3"> 8</option>
                  <option value="3"> 9</option>
                  <option value="3"> 10</option>
                  <option value="3"> 11</option>
                  <option value="3"> 12</option>
              </select>
            </div>
          <!-- year end -->

        <!-- from end -->

     <!-- from to date dropdowns end --> 
    </div>
    <!-- dropdowns end -->

  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>HO ID</th>
                <th>commission</th>
                <th>deposit</th>
                <th>deposit(transfer)</th>
                <th>withdraw</th>
                <th>withdraw(transfer)</th>
                <th>betting amount</th>
                <th>rake</th>
                <th>user holding money</th>
                <th>Operating Head office profit</th>
                <th>head office money</th>
                <th>money of low rank</th>
                <th>low rank</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>
                  <div style="margin: 3px">
                    <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #efad4d;">low rank</button>
                  </div>

                </td>
              </tr>
              
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">1</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">2</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">3</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">4</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">5</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>


<br>
