<br>
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">black list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

    <!-- screen name, radio btn, and search -->
    <div class="w3-row">
      <div class="w3-right w3-mobile" style="margin: 5px">
        <button class="w3-mobile w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px;">search</button>
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" style="height: 40px; max-width: 40px;" >
          <option value="" selected>ID</option>
          <option value="1">screen name</option>
      </select>
      </div>
    </div>
    <!--  screen name, radio btn, and search end -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>HO ID</th>
                <th>Distributor ID</th>
                <th>store ID</th>
                <th>user ID</th>
                <th>screen name</th>
                <th>registration date</th>
                <th>release date</th>
                <th>reason</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>
                  <div style="margin: 3px">
                    <button class="w3-block w3-btn w3-round w3-text-red w3-card" style="background-color:whitesmoke;">black list</button>
                  </div>
                  <div style="margin: 3px">
                      <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #337bb6;">release</button>
                  </div>
                  <div style="margin: 3px">
                      <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #26ba9a;">register</button>
                    </div>
                </td>
              </tr>
              
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">1</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">2</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">3</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">4</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">5</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>


<br>
