<br>
<!-- black list card white -->
<div class="w3-container w3-border w3-card w3-white">
  <!-- table title -->
    <p class="tableTitle">black list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

    <!-- screen name, radio btn, and search -->
    <div class="w3-row">
      <div class="w3-right w3-mobile" style="margin: 5px">
        <button class="w3-mobile w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px;">search</button>
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" style="height: 40px; max-width: 40px;" >
          <option value="" selected>ID</option>
          <option value="1">screen name</option>
      </select>
      </div>
    </div>
    <!--  screen name, radio btn, and search end -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>HO ID</th>
                <th>Distributor ID</th>
                <th>store ID</th>
                <th>user ID</th>
                <th>screen name</th>
                <th>registration date</th>
                <th>release date</th>
                <th>reason</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr *ngFor="let b of blackList ">
                <td>{{b.BlackListID}}</td>
                <td>{{b.HeadOfficeID}}</td>
                <td>{{b.DistributorID}}</td>
                <td>{{b.ShopID}}</td>
                <td>{{b.UserAccountID}}</td>
                <td>{{b.ScreenName}}</td>
                <td>{{b.RegisteredDateTime}}</td>
                <td>{{b.ReleaseDate}}</td>
                <td>{{b.Reason}}</td>
                
                <td>
                  <div style="margin: 3px">
                    <a class="w3-text-red">black list</a>
                  </div>
                  <div style="margin: 3px">
                      <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #337bb6;">release</button>
                  </div>
                  <div style="margin: 3px">
                      <button class="w3-block w3-btn w3-round w3-text-white" style="background-color: #26ba9a;">register</button>
                    </div>
                </td>
              </tr>
              <tr [hidden]="searchResult">
                  <td colspan="10">NO RESULTS FOUND
                    <br>
                    <button (click)="getBlackList(offset)">back</button>
                  </td>
                </tr>
  
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button *ngFor="let b of pages" class="w3-button w3-round w3-text-white" style="background-color: #4ca5df; margin: 4px">{{b}}</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>

    <!-- search row-->
    <div class="w3-row">

      <div style="margin-left: 10%; margin-right: 10%">
        <!-- inputs -->
        <div class="w3-center">
          <div style="margin-left: 10%; margin-right: 10%">
            <label for="#ID" style="margin:3px">ID</label>
            <input type="text" id="ID">
            <label for="#screenName" style="margin:3px">screen name:</label>
            <input type="text" id="screenName">
            <button class="w3-button w3-text-white w3-round" style=" background-color: #4ca5df; margin:2px">user inquire</button>
          </div>
        </div>
        
      </div>
      <br>
      <hr class="tableTitleHr">
      <br>

      <!-- reason -->
      <div class="w3-container" style="margin-left:20%; margin-right: 20%">
        <div class="w3-col" style="width:5%;">
          <p>&nbsp;</p>
          <p>reason</p>
          <p>&nbsp;</p>
        </div>
        <div class="w3-col" style="width:95%">
          <textarea rows="6" cols="145" style="resize: vertical" id="reason">content text</textarea>
        </div>
      </div>
      <hr class="tableTitleHr">
      <br>
      <!-- reason end -->

      <!-- buttons start -->
      <div class="w3-container" style="margin-left:20%; margin-right: 20%">
        <div class="w3-center">
          <button class="w3-button w3-text-white w3-round" style=" background-color: #4ca5df; margin:2px">register</button>
          <button class="w3-button w3-text-white w3-round" style=" background-color: #347ab8; margin:2px">back</button>
        </div>
      </div>
      <br>
      <!-- buttons end -->

    </div>
    <!-- search row end -->

</div>
<!-- black list end -->

<br>
