<br>
<div class="w3-container w3-border w3-card w3-white">

  <!-- table title -->
    <p class="tableTitle">withdraw list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->
    <!-- dropdowns -->
    <div class="w3-row">
      <div class="w3-right">

        <!-- 'from and to' row -->
       
          <!-- from -->
          <div class="w3-half">
            <div class="w3-row">
              <!-- year -->
              <div class="w3-col w3-mobile" style="width:22.5%;">
                <select class="w3-select" style="height: 40px; max-width:200px; width: 100%; text-align-last: center" >
                  <option value="" selected>2018</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>

              </div>
              <div class="w3-col w3-mobile" style="width:10%;">
                  <p>년</p>
              </div>
              
              <!-- year end -->
  
              <!-- month -->
              <div class="w3-col w3-mobile" style="width:12%;">
                <select class="w3-select" style="height: 40px; max-width: 40px;" >
                  <option value="" selected>1</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="w3-col w3-mobile" style="width:10%;">
                  <p>월</p>
              </div>
              <!-- month end -->
  
              <!-- day -->
              <div class="w3-col w3-mobile" style="width:12%;">
                <select class="w3-select" style="height: 40px; max-width: 40px;" >
                    <option value="" selected>1</option>
                    <option value="1"> 2</option>
                    <option value="2"> 3</option>
                    <option value="3"> 4</option>
                    <option value="3"> 5</option>
                    <option value="3"> 6</option>
                    <option value="3"> 7</option>
                    <option value="3"> 8</option>
                    <option value="3"> 9</option>
                    <option value="3"> 10</option>
                    <option value="3"> 11</option>
                    <option value="3"> 12</option>
                </select>
              </div>
              <div class="w3-col w3-mobile" style="width:10%;">
                  <p>일</p>
              </div>
              <!-- day end -->
  
              <!-- time -->
              <div class="w3-col w3-mobile" style="width:12%;">
                <select class="w3-select" style="height: 40px; max-width: 40px;" >
                    <option value="" selected>1</option>
                    <option value="1"> 2</option>
                    <option value="2"> 3</option>
                    <option value="3"> 4</option>
                    <option value="3"> 5</option>
                    <option value="3"> 6</option>
                    <option value="3"> 7</option>
                    <option value="3"> 8</option>
                    <option value="3"> 9</option>
                    <option value="3"> 10</option>
                    <option value="3"> 11</option>
                    <option value="3"> 12</option>
                </select>
              </div>
              <div class="w3-col w3-mobile" style="width:11.5%;">
                  <p>시 ~</p>
              </div>
              <!-- time end -->

            </div>
          </div>
          <!-- from end -->

          <!-- to -->
          <div class="w3-half">
            <div class="w3-row">
                <!-- year -->
                <div class="w3-col w3-mobile" style="width:22.5%;">
                  <select class="w3-select" style="height: 40px; max-width:200px; width: 100%;" >
                    <option value="" selected>2018</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>

                </div>
                <div class="w3-col w3-mobile" style="width:10%;">
                    <p>년</p>
                </div>
                
                <!-- year end -->
    
                <!-- month -->
                <div class="w3-col w3-mobile" style="width:12%;">
                  <select class="w3-select" style="height: 40px; max-width: 40px;" >
                    <option value="" selected>1</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="w3-col w3-mobile" style="width:10%;">
                    <p>월</p>
                </div>
                <!-- month end -->
    
                <!-- day -->
                <div class="w3-col w3-mobile" style="width:12%;">
                  <select class="w3-select" style="height: 40px; max-width: 40px;" >
                      <option value="" selected>1</option>
                      <option value="1"> 2</option>
                      <option value="2"> 3</option>
                      <option value="3"> 4</option>
                      <option value="3"> 5</option>
                      <option value="3"> 6</option>
                      <option value="3"> 7</option>
                      <option value="3"> 8</option>
                      <option value="3"> 9</option>
                      <option value="3"> 10</option>
                      <option value="3"> 11</option>
                      <option value="3"> 12</option>
                  </select>
                </div>
                <div class="w3-col w3-mobile" style="width:10%;">
                    <p>일</p>
                </div>
                <!-- day end -->
    
                <!-- time -->
                <div class="w3-col w3-mobile" style="width:12%;">
                  <select class="w3-select" style="height: 40px; max-width: 40px;" >
                      <option value="" selected>1</option>
                      <option value="1"> 2</option>
                      <option value="2"> 3</option>
                      <option value="3"> 4</option>
                      <option value="3"> 5</option>
                      <option value="3"> 6</option>
                      <option value="3"> 7</option>
                      <option value="3"> 8</option>
                      <option value="3"> 9</option>
                      <option value="3"> 10</option>
                      <option value="3"> 11</option>
                      <option value="3"> 12</option>
                  </select>
                </div>
                <div class="w3-col w3-mobile" style="width:11.5%;">
                    <p>시</p>
                </div>
                <!-- time end -->

            </div>
          </div>
          <!-- to end -->
        
        <!-- 'from and to' row end-->



      </div>

    </div>
    <!-- dropdowns end -->

    <!-- screen name, radio btn, and search -->
    <div class="w3-row">
      <div class="w3-right w3-mobile" style="margin: 5px">
          <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">arrange by amount</button>
      </div>
      <div class="w3-right w3-mobile" style="margin: 5px" style="margin: 5px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec;">search</button>
      </div>
      <div class="w3-right w3-mobile" style="margin: 5px">
          <input class="w3-radio " type="radio" name="gender" >
          <label for="gender">&nbsp;&nbsp;real</label> 
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-radio " type="radio" name="gender" style="margin-left: 5px" checked>
        <label for="gender">&nbsp;&nbsp;all</label>
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <a class="w3-center " style="font-size: 22px; color: #4ca5df">screen name</a>
      </div>
    </div>
  <!-- date and time filter -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>HO ID</th>
                <th>Distributor ID</th>
                <th>store ID</th>
                <th>user ID</th>
                <th>screen name</th>
                <th>name</th>
                <th>contact no.</th>
                <th>existing amount</th>
                <th>application amount</th>
                <th>remaining amount</th>
                <th>status</th>
                <th class="w3-center">manage</th>
                <th>application date</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr *ngFor="let w of withdrawList">
                <td>{{w.ID}}</td>
                <td>{{w.HeadOfficeID}}</td>
                <td>{{w.DistributorID}}</td>
                <td>{{w.ShopID}}</td>
                <td>{{w.UserAccountID}}</td>
                <td>{{w.ScreenName}}</td>
                <td>{{w.Name}}</td>
                <td>{{w.ContactNumber}}</td>
                <td>{{w.ExistingAmount}}</td>
                <td>{{w.ApplicationAmount}}</td>
                <td>{{w.RemainingAmount}}</td>
                <td>{{w.TransactionStatus}}</td>
                <td>
                  <div class="w3-row">
                      <button class="w3-btn w3-round w3-text-white" style="background-color: #efad4d; margin: 4px;">승인</button>
                      <button class="w3-btn w3-round w3-text-white" style="background-color: #25b999; margin: 4px;">취소</button>
                      <button class="w3-btn w3-round w3-text-white" style="background-color: #d9544f; margin: 4px;">삭제</button>
                  </div>
                </td>
                <td>{{w.RequestedDateTime}}</td>
              </tr>
              
              <tr [hidden]="!searchResult">
                <td colspan="14">NO RESULTS FOUND
                  <br>
                  <!-- <input type="button" (click)="back()" value="back"> -->
                  <input type="button" (click)="back()" value="back">
                  <br>
                </td>
              </tr>

              <tr [hidden]="!searchBack">
                <td colspan="14">RESULT FOUND
                  <br>
                  <input type="button" (click)="back()" value="back">
                </td>
              </tr>

              <tr [hidden]="!backLoading">
                <td colspan="14">
                  <fa name="spinner" animation="spin" size="lg"></fa>
                </td>
              </tr>

            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center" [hidden]="hidePagination">
  
              <button (click)="first()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
                <fa name="angle-double-left" size="lg"></fa>&nbsp;first
              </button>
              <button (click)="previous()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
                <fa name="angle-left"  size="lg"></fa>
              </button>
  
              <button type="button" *ngFor="let n of pages | slice : currentPage : currentPage + 5;" [ngClass]=" {'w3-light-blue' : n == currentPaginationButton}" (click)="paginate(n); " class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px">{{n}}</button>
  
              <button type="button" (click)="next()" class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage && pages.length > 5">
               <fa name="angle-right"  size="lg"></fa>
              </button>
              <button (click)="last()" class="w3-button w3-round w3-text-white w3-animate-right"   style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage  && pages.length > 8" >
                  last&nbsp;<fa name="angle-double-right" size="lg"></fa>
              </button >
  
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>


<br>
