<br>
<div class="w3-container w3-border w3-card">

  <!-- table title -->
    <p class="tableTitle">connecting user</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>game</th>
                <th>location</th>
                <th>blind</th>
                <th>HO ID</th>
                <th>distributor ID</th>
                <th>store ID</th>
                <th>user ID</th>
                <th>screen name</th>
                <th>rank</th>
                <th>deposit</th>
                <th>withdraw</th>
                <th>money</th>
                <th>point</th>
                <th>total user point</th>
                <th>betting amount</th>
                <th>rake</th>
                <th>Operating HO</th>
                <th>Head Office</th>
                <th>Distributor</th>
                <th>Store</th>
                <th>black status</th>
                <th>connection holding time</th>
                <th>user ID</th>
                <th>connecting time</th>
              </tr>
            </thead>
            <tbody>
              <!-- <div *ngFor="let dh of deposit.DepositHistory">
                <div>
                  {{dh.UserAccountID}}
                </div>
              </div> -->
              <tr>
                <td>sample</td>
                <td>sample</td>
                <td>6000</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>2018-06-07 1:03:39</td>
              </tr>
              
            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!-- bottom of table pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center">
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">1</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">2</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">3</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">4</button>
              <button class="w3-button w3-round w3-text-white" style="background-color: #4ca5df">5</button>
          </div>
      </div>
      <!-- intended to leave it empty -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!-- bottom of table pagination and number of entries end -->
    <br>


</div>


<br>
