<!-- sidepanel for medium and large screen -->
<div class="w3-sidebar w3-bar-block w3-card-2" style=" background-color: #2a3f54; width: 15%" id="mySidebar">
  <br>
  <div class="w3-row">
      <a href="#" [routerLink]="['/admin']" class="w3-text-white" style="text-decoration: none">
        <fa class="w3-text-white" name="paw" size="3x"  style="margin: 10px"></fa>
        Operating HEAD OFFICE
      </a>
  </div>

  <div class="w3-row">
    <div class="w3-quarter">
      <img src="../assets/avatar.png" class="w3-circle w3-border w3-responsive" alt="Alps" style="width:70px; height:70px; margin: 12px">
    </div>
    <div class="w3-threequarter w3-padding-large">
      <p class="w3-text-white" >head office</p>
      <p class="w3-text-white" >holding money :</p>
      <p class="w3-text-white" >589,766,407</p>
    </div>
  </div>

  <br>

  <!-- menu dropdowns -->
  <div >
    <!-- sales dropdown -->
    <div>
      <!-- <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : sidepanelMenuArray[0]}" (click)="sidepanelMenuToggle(0)"> -->
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 0}" (click)="sidepanelMenuToggle(0)">
        <fa name="home"></fa>&nbsp;
        <span appTranslate>Sales</span> &nbsp;&nbsp;&nbsp;
        <!-- <fa *ngIf="!sidepanelMenuArray[0]" name="caret-left" class="{{sidepanelCaret}}"></fa> -->
        <fa *ngIf="currentSidePanel != 0" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="currentSidePanel == 0" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
      <div *ngIf="currentSidePanel == 0" class="w3-animate-left">
        
        <button  [routerLink]="['/admin/headOfficeList']"  class="{{lsSidepanelSubMenuBtn}}">
          &nbsp;&nbsp;
          <fa name="circle-o" style="color: gray"></fa>&nbsp;
          <strong style="font-size:16px" appTranslate>head office list</strong>
        </button>
        
        <button [routerLink]="['/admin/memberList']"  class="{{lsSidepanelSubMenuBtn}}">
          &nbsp;&nbsp;
          <fa name="circle-o" style="color: gray"></fa> &nbsp;
          <strong style="font-size:16px" appTranslate>member list</strong>
        </button>
        
      </div>
    </div>
    <!-- sales dropdown end -->
  
    <!-- calculate dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 1}" (click)="sidepanelMenuToggle(1)">
        <fa name="cc-visa"></fa>&nbsp;
        <span appTranslate>Calculate</span> &nbsp;&nbsp;&nbsp;
        <fa *ngIf="currentSidePanel != 1" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="currentSidePanel == 1" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="currentSidePanel == 1" class="w3-animate-left">
  
          <button [routerLink]="['/admin/calculateManage']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>calculate manage</strong>
          </button>
  
          <button [routerLink]="['/admin/userProfit']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>user profit</strong>
            </button>
  
        </div>
    </div>
    <!-- calculate dropdown end -->
    
    <!-- user dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 2}" (click)="sidepanelMenuToggle(2)">
        <fa name="android"></fa>&nbsp;
        <span appTranslate>User</span> &nbsp;&nbsp;&nbsp;
        <fa *ngIf="currentSidePanel != 2" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="currentSidePanel == 2" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
      <div *ngIf="currentSidePanel == 2" class="w3-animate-left">
        
            <button [routerLink]="['/admin/connectingUser']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>connecting user</strong>
            </button>

            <button [routerLink]="['/admin/blackList']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>black list</strong> <fa name="check" class="w3-text-red"></fa> 
            </button>
    
            
            <button [routerLink]="['/admin/IPinquire']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o" style="color: gray"></fa>&nbsp;
                <strong style="font-size:16px" appTranslate>IP inquire</strong> <fa name="check" class="w3-text-red"></fa>
              </button>
          </div>
    </div>
    <!-- user dropdown end -->
  
    <!-- deposit and withdraw dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 3}" (click)="sidepanelMenuToggle(3)">
        <fa name="table"></fa>&nbsp;
        <span appTranslate>Deposit &amp; Withdraw</span> &nbsp;&nbsp;&nbsp;
        <fa *ngIf="currentSidePanel != 3" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="currentSidePanel == 3" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="currentSidePanel == 3" class="w3-animate-left">
          <button [routerLink]="['/admin/depositManagement']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>deposit management</strong>
          </button>
  
          <button [routerLink]="['/admin/withdrawManagement']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>withdraw management</strong>
            </button>
          
        </div>
    </div>
    <!-- deposit and withdraw end -->
  
    <!-- notice dropdown -->
    <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 4}" (click)="sidepanelMenuToggle(4)">
          <fa name="bell"></fa>&nbsp;
          <span appTranslate>Notice</span>&nbsp;&nbsp;&nbsp;
          <fa *ngIf="currentSidePanel != 4" name="caret-left" class="{{sidepanelCaret}}"></fa>
          <fa *ngIf="currentSidePanel == 4" name="caret-down" class="{{sidepanelCaret}}"></fa>
        </button>
          <div *ngIf="currentSidePanel == 4" class="w3-animate-left">
            
            <button [routerLink]="['/admin/lobbyNotice']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o" style="color: gray"></fa>&nbsp; 
                <strong style="font-size:16px" appTranslate>lobby notice</strong>
            </button>
            
            <button [routerLink]="['/admin/inGamingTable']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px" appTranslate>in gaming table</strong>
            </button>

            <button [routerLink]="['/admin/1on1support']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o"  style="color: gray"></fa>&nbsp;
                <strong style="font-size:16px;" appTranslate>1:1 support</strong><fa name="check" class="w3-text-red"></fa>
            </button>

          </div>
    </div>
    <!-- notice dropdown end -->
  
    <!-- log dropdown -->
    <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : currentSidePanel == 5}" (click)="sidepanelMenuToggle(5)">
        <fa name="clone"></fa>&nbsp;
        <span appTranslate>Log</span> &nbsp;&nbsp;&nbsp;
        <fa *ngIf="currentSidePanel != 5" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="currentSidePanel == 5" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="currentSidePanel == 5" class="w3-animate-left">
  
          <button [routerLink]="['/admin/gameLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px;" appTranslate>game log</strong><fa name="check" class="w3-text-red"></fa>
          </button>
          
          <button [routerLink]="['/admin/jackpotLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px;" appTranslate>jackpot log</strong>
          </button>

          <button [routerLink]="['/admin/transferLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px;" appTranslate>transfer log</strong>
          </button>

          <button [routerLink]="['/admin/pointLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa>&nbsp;
              <strong style="font-size:16px;" appTranslate>point log</strong>
          </button>
  
        </div>
    </div>
    <!-- log dropdown end -->

    <!-- pending dropdown -->
    <!-- <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-2 w3-rightbar w3-border-green' : sidepanelMenuArray[6]}" (click)="sidepanelMenuToggle(6)">
        <fa name="question"></fa>
         &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[6]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[6]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="sidepanelMenuArray[6]" class="w3-animate-left">
  
          <button [routerLink]="['/admin/addUser']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;">&nbsp;add user</strong>
          </button>
          
        </div>
    </div> -->
    <!-- pending dropdown end -->
    <h6 class="w3-center w3-text-white" style="font-size:14px">date</h6>
    <div class="w3-text-white" style="margin-left:20px;">

      <h6 style="font-size:14px"><fa name="male"></fa>&nbsp;<span>deposit application</span>&nbsp;:&nbsp;<strong>705</strong>건</h6>
      <h6 style="font-size:14px"><fa name="male"></fa>&nbsp;<span>total member</span>&nbsp;:&nbsp;<strong>{{totalRegisteredUser | number}}</strong>명</h6>
      <h6 style="font-size:14px"><fa name="male"></fa>&nbsp;<span>today joined members</span>&nbsp;:&nbsp;<strong>{{totalRegisteredUserToday | number}}</strong>원</h6>
      <h6 style="font-size:14px"><fa name="twitter"></fa>&nbsp;<span>connecting members</span>&nbsp;:&nbsp;<strong>{{totalConnectingMembers.OnlineStatusCount | number}}</strong>원</h6>
      <h6 style="font-size:14px"><fa name="won"></fa>&nbsp;<span>deposit</span>&nbsp;:&nbsp;<strong>{{totalDepositToday | number}}</strong>원</h6>
      <h6 style="font-size:14px"><fa name="won"></fa>&nbsp;<span>withdraw</span>&nbsp;:&nbsp;<strong>{{totalWithdrawToday | number}}</strong>원</h6>
      <h6 style="font-size:14px"><fa name="won"></fa>&nbsp;<span>profit and loss</span>&nbsp;:&nbsp;<strong>{{profitAndLoss | number}}</strong>원</h6>
      <h6 style="font-size:14px"><fa name="won"></fa>&nbsp;<span>members</span>&nbsp;:&nbsp;<strong>705,940,329</strong>원</h6>
      <h6 style="font-size:14px"><fa name="won"></fa>&nbsp;<span>sales</span>&nbsp;:&nbsp;<strong>705,940,329</strong>원</h6>
    </div>

  </div>
  <br>
  <br>
  <br>
  <!-- menu dropdowns end -->
  <div class="w3-bottom" style="width:15%">
    <div class="w3-row">
      <button type="button" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-text-white" style="background-color:#172d44; width: 25%">
       <fa name="cog"></fa>
      </button>
      <button type="button" (click)="toggleFullScreen()" class="w3-button w3-text-white" style="background-color:#172d44; width: 25%">
       <fa name="expand"></fa>
      </button>
      <button type="button" (click)="playNotif()" class="w3-button w3-text-white" style="background-color:#172d44; width: 25%">
       <fa name="eye-slash"></fa>
      </button>
      <button type="button"  class="w3-button w3-text-white" style="background-color:#172d44; width: 25%">
       <fa name="power-off"></fa>
      </button>
    </div>
  </div>
</div>
<!-- sidepanel for medium and large screen end -->


<div id="main" [ngStyle]="{'margin-left': margin}">
  <!-- topbar -->
  <div class="w3-bar w3-large w3-border w3-light-grey" >

    <!-- sidepanel toggle -->

      <div id="open">
        <button class="w3-button w3-bar-item w3-left" (click)="sidebarToggler();" style="color: #2a3f54;">
          <fa name="bars"></fa>
        </button>
      </div>
      <!-- *ngIf="!mobileAccordion" -->
      <div id="close">
        <button  class="w3-button w3-bar-item w3-left" (click)="sidebarToggler();" style="color: #2a3f54">
          <fa name="times"></fa>  
        </button>
      </div>
      <button (click)="printUserToken()" >get token</button>
      <button (click)="clearToken()" >clear token</button>
 
    <!-- sidepanel toggle end -->


    <button type="button" (click)="logout()" class="w3-button w3-bar-item w3-right">
      <fa name="sign-out"></fa>
    </button>

    <a class=" w3-bar-item w3-right">{{user?.UserName}}</a>

  </div>
  <!-- topbar end -->

  <div class="w3-container" id="main">
    <router-outlet></router-outlet>
  </div>

</div>
<!-- settings modal -->
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-2" style="margin-top:70px; height:230px; width: 400px;">
      
      <header class="w3-container" style="background-color: #2a3f54;"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright w3-xxlarge w3-text-white"><fa name="times"></fa></span>
        <h2 class="w3-text-white"><fa name="cogs"></fa>&nbsp;Settings</h2>
      </header>

      <div class="w3-container">
        <br>
        <form class="w3-row">
          <div class="w3-half">
            <label class="w3-right" style="font-size: 20px; margin-top: 3px; margin-right: 15px">LANGUAGE: </label>
            <br>
            <br>
            <br>
            <br>
            <label class="w3-right" for="audio" style="font-size: 20px; margin-right: 15px; user-select: none">AUDIO: </label>
            
          </div>
          <div class="w3-half">
            
              <input class="w3-radio" type="radio" id="korean" (click)="toKorean()" [checked]="korean">
              <label for="korean">&nbsp;KOREAN</label>
            
              <br>
            
              <input class="w3-radio" type="radio" id="english" (click)="toEnglish()" [checked]="english">
              <label for="english">&nbsp;ENGLISH</label>

              <br>
              <br>
              <input class="w3-check" type="checkbox" id="audio" (change)="audioToggle(audioModel)" [(ngModel)]="audioModel" [ngModelOptions]="{standalone: true}" style="margin-top:3px" checked="true">
              <!-- <input class="w3-check" type="checkbox"  checked> -->
          </div>


        </form>

      
      </div>

    </div>
  </div>

<script>
</script>