<!-- sidepanel for medium and large screen -->
<div class="w3-sidebar w3-display-container w3-bar-block w3-card-4 w3-hide-small w3-hide-medium" style=" background-color: #2a3f54; width: 15%" id="mySidebar">
  <br>
  <div class="w3-row">
      <a href="#" routerLink="/" class="w3-text-white" style="text-decoration: none">
        <fa class="w3-text-white" name="paw" size="3x"  style="border-radius: 100%; margin: 15px"></fa>
        Operating HEAD OFFICE
      </a>
  </div>
<br>
  <div class="w3-row">
    <div class="w3-quarter">
      <img src="../assets/avatar.png" class="w3-circle w3-border w3-responsive" alt="Alps" style="width:70px; height:70px; margin: 12px">
    </div>
    <div class="w3-threequarter w3-padding-large">
      <p class="w3-text-white">head office</p>
      <p class="w3-text-white">holding money :</p>
      <p class="w3-text-white">589,766,407</p>
    </div>
  </div>

  <br>
  <br>
  <br>
  <!-- menu dropdowns -->
  <div>
    <!-- sales dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[0]}" (click)="sidepanelMenuToggle(0)">
        <fa name="home"></fa>
        Sales &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[0]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[0]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
      <div *ngIf="sidepanelMenuArray[0]" class="w3-animate-left">
        
        <button  [routerLink]="['/admin/headOfficeList']"  class="{{lsSidepanelSubMenuBtn}}">
          &nbsp;&nbsp;
          <fa name="circle-o" style="color: gray"></fa> 
          <strong style="font-size:16px"> head office list</strong>
        </button>
        
        <button [routerLink]="['/admin/memberList']"  class="{{lsSidepanelSubMenuBtn}}">
          &nbsp;&nbsp;
          <fa name="circle-o" style="color: gray"></fa> 
          <strong style="font-size:16px"> member list</strong>
        </button>
        
      </div>
    </div>
    <!-- sales dropdown end -->
  
    <!-- calculate dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[1]}" (click)="sidepanelMenuToggle(1)">
        <fa name="cc-visa"></fa>
        Calculate &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[1]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[1]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="sidepanelMenuArray[1]" class="w3-animate-left">
  
          <button [routerLink]="['/admin/calculateManage']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> calculate manage</strong>
          </button>
  
          <button [routerLink]="['/admin/userProfit']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> user profit</strong>
            </button>
  
        </div>
    </div>
    <!-- calculate dropdown end -->
    
    <!-- user dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[2]}" (click)="sidepanelMenuToggle(2)">
        <fa name="android"></fa>
        User &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[2]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[2]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
      <div *ngIf="sidepanelMenuArray[2]" class="w3-animate-left">
        
            <button [routerLink]="['/admin/connectingUser']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> connecting user</strong>
            </button>

            <button [routerLink]="['/admin/blackList']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> black list</strong>
            </button>
    
            
            <button [routerLink]="['/admin/IPinquire']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o" style="color: gray"></fa> 
                <strong style="font-size:16px"> IP inquire</strong>
              </button>
          </div>
    </div>
    <!-- user dropdown end -->
  
    <!-- deposit and withdraw dropdown -->
    <div>
      <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[3]}" (click)="sidepanelMenuToggle(3)">
        <fa name="table"></fa>
        deposit &amp; Withdraw &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[3]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[3]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="sidepanelMenuArray[3]" class="w3-animate-left">
          <button [routerLink]="['/admin/depositManagement']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> deposit management</strong>
          </button>
  
          <button [routerLink]="['/admin/withdrawManagement']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> withdraw management</strong>
            </button>
          
        </div>
    </div>
    <!-- deposit and withdraw end -->
  
    <!-- notice dropdown -->
    <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[4]}" (click)="sidepanelMenuToggle(4)">
          <fa name="bell-o"></fa>
          Notice &nbsp;&nbsp;&nbsp;
          <fa *ngIf="!sidepanelMenuArray[4]" name="caret-left" class="{{sidepanelCaret}}"></fa>
          <fa *ngIf="sidepanelMenuArray[4]" name="caret-down" class="{{sidepanelCaret}}"></fa>
        </button>
          <div *ngIf="sidepanelMenuArray[4]" class="w3-animate-left">
            
            <button [routerLink]="['/admin/lobbyNotice']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o" style="color: gray"></fa> 
                <strong style="font-size:16px"> lobby notice</strong>
            </button>
            
            <button [routerLink]="['/admin/inGamingTable']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> in gaming table</strong>
            </button>

            <button [routerLink]="['/admin/1on1support']"  class="{{lsSidepanelSubMenuBtn}}">
                &nbsp;&nbsp;
                <fa name="circle-o"  style="color: gray"></fa> 
                <strong style="font-size:16px;"> 1:1 support</strong>
            </button>
  
  
  
          </div>
    </div>
    <!-- notice dropdown end -->
  
    <!-- log dropdown -->
    <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[5]}" (click)="sidepanelMenuToggle(5)">
        <fa name="clone"></fa>
        Log &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[5]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[5]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="sidepanelMenuArray[5]" class="w3-animate-left">
  
          <button [routerLink]="['/admin/gameLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;"> game log</strong>
          </button>
          
          <button [routerLink]="['/admin/jackpotLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;"> jackpot log</strong>
          </button>

          <button [routerLink]="['/admin/transferLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;"> transfer log</strong>
          </button>

          <button [routerLink]="['/admin/pointLog']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;"> point log</strong>
          </button>
  
        </div>
    </div>
    <!-- log dropdown end -->
    <!-- pending dropdown -->
    <div>
        <button class="{{lsSidepanelMenuBtn}}" [ngClass]="{'w3-card-4 w3-rightbar w3-border-green' : sidepanelMenuArray[6]}" (click)="sidepanelMenuToggle(6)">
        <fa name="question"></fa>
         &nbsp;&nbsp;&nbsp;
        <fa *ngIf="!sidepanelMenuArray[6]" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="sidepanelMenuArray[6]" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="sidepanelMenuArray[6]" class="w3-animate-left">
  
          <button [routerLink]="['/admin/addUser']"  class="{{lsSidepanelSubMenuBtn}}">
              &nbsp;&nbsp;
              <fa name="circle-o"  style="color: gray"></fa> 
              <strong style="font-size:16px;">&nbsp;add user</strong>
          </button>
          
        </div>
    </div>
    <!-- pending dropdown end -->
  </div>
  <!-- menu dropdowns end -->
  <div class="w3-display-bottommiddle">
    
  </div>
</div>
<!-- sidepanel for medium and large screen end -->


<div id="main" [ngStyle]="{'margin-left': margin}">
  <!-- topbar -->
  <div class="w3-bar w3-large w3-border w3-light-grey" >

    <!-- sidepanel toggle -->

      <div id="open">
        <button class="w3-button w3-bar-item w3-left" (click)="sidebarToggler();" style="color: #2a3f54;">
          <fa name="bars"></fa>
        </button>
      </div>
      <!-- *ngIf="!mobileAccordion" -->
      <div id="close">
        <button  class="w3-button w3-bar-item w3-left" (click)="sidebarToggler();" style="color: #2a3f54">
          <fa name="times"></fa>  
        </button>
      </div>
 
    <!-- sidepanel toggle end -->


    <button class="w3-button w3-bar-item w3-right">
      <fa name="sign-out"></fa>
    </button>

    <a class=" w3-bar-item w3-right">Clyde A. Santos</a>

  </div>
  <!-- topbar end -->

  <!-- sidepanel for small screens-->
  <div class="w3-animate-left w3-hide-large w3-hide-medium " style="background-color: #2a3f54;" id="sidepanelSmall">
    <br>
    <a class="w3-xlarge w3-text-white">
      &nbsp;&nbsp;Menu
    </a>
    <br>
    <br>

    <!-- sales -->
    <div>
        <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : salesDropdown}" (click)="(this.salesDropdown) ? this.salesDropdown = false : this.salesDropdown = true" style="text-align: left"> 
          <fa name="home"></fa> Sales
          <fa *ngIf="!salesDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
          <fa *ngIf="salesDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa>
        </button>
          <div *ngIf="salesDropdown" class="w3-animate-left">
    
            <button routerLink="/headOfficeList"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> head office list</strong>
            </button>
    
            <button [routerLink]="['/admin/memberList']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> member list</strong>
            </button>
    
          </div>
    </div>
    <!-- sales end -->

    <!-- calculate -->
    <div>
      <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : calculateDropdown}" style="text-align: left" (click)="(this.calculateDropdown) ? this.calculateDropdown = false : this.calculateDropdown = true"> 
        <fa name="cc-visa"></fa> Calculate
        <fa *ngIf="!calculateDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
        <fa *ngIf="calculateDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa> 
      </button>
        <div *ngIf="calculateDropdown" class="w3-animate-left">
  
          <button [routerLink]="['/admin/calculateManage']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> Calculate manage</strong>
          </button>
  
          <button [routerLink]="['/admin/userProfit']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> User profit</strong>
          </button>
  
        </div>
    </div>
    <!-- calculate end -->

    <!-- user -->
    <div>
        <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : userDropdown}" (click)="(this.userDropdown) ? this.userDropdown = false : this.userDropdown = true" style="text-align: left"> 
          <fa name="android"></fa> User
          <fa *ngIf="!userDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
          <fa *ngIf="userDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa>
        </button>
          <div *ngIf="userDropdown" class="w3-animate-left">
    
            <button [routerLink]="['/admin/connectingUser']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> connecting user</strong>
            </button>
    
            <button [routerLink]="['/admin/blackList']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> black list</strong>
            </button>
    
            <button [routerLink]="['/admin/IPinquire']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> IP inquire</strong>
            </button>
    
          </div>
    </div>
    <!-- user end -->

    <!-- Deposit and withdraw -->
    <div>
      <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : dwDropdown}" (click)="(this.dwDropdown) ? this.dwDropdown = false : this.dwDropdown = true" style="text-align: left">
       <fa name="table"></fa>&nbsp;Deposit &amp; Withdraw
       <fa *ngIf="!dwDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
       <fa *ngIf="dwDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="dwDropdown" class="w3-animate-left">
  
          <button [routerLink]="['/admin/depositManagement']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> deposit management</strong>
          </button>
  
          <button [routerLink]="['/admin/withdrawManagement']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> withdraw management</strong>
          </button>
  
        </div>
    </div>
    <!-- Deposit and withdraw end-->

    <!-- Notice -->
    <div>
        <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : noticeDropdown}" (click)="(this.noticeDropdown) ? this.noticeDropdown = false : this.noticeDropdown = true" style="text-align: left"> 
          <fa name="bell-o"></fa> Notice
          <fa *ngIf="!noticeDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
          <fa *ngIf="noticeDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa>
        </button>
          <div *ngIf="noticeDropdown" class="w3-animate-left">
    
            <button [routerLink]="['/admin/lobbyNotice']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> lobby notice</strong>
            </button>
    
            <button [routerLink]="['/admin/inGamingTable']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> in gaming table</strong>
            </button>
    
            <button [routerLink]="['/admin/1on1support']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
              &nbsp;&nbsp;
              <fa name="circle-o" style="color: gray"></fa> 
              <strong style="font-size:16px"> 1:1 support</strong>
            </button>
    
          </div>
    </div>
    <!-- notice end -->

    <!-- log -->
    <div>
      <button [ngClass]="{'w3-button w3-block w3-text-white w3-hover-shadow' : true, 'w3-card-4' : logDropdown}" (click)="(this.logDropdown) ? this.logDropdown = false : this.logDropdown = true" style="text-align: left">
         <fa name="clone"></fa> Log
         <fa *ngIf="!logDropdown" name="caret-left" class="{{sidepanelCaret}}"></fa>
         <fa *ngIf="logDropdown" name="caret-down" class="{{sidepanelCaret}}"></fa>
      </button>
        <div *ngIf="logDropdown" class="w3-animate-left">

          <button [routerLink]="['/admin/gameLog']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> game log</strong>
          </button>

          <button [routerLink]="['/admin/jackpotLog']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> jackpot log</strong>
          </button>

          <button [routerLink]="['/admin/transferLog']"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> transfer log</strong>
          </button>

          <button routerLink="/potLog"  class="w3-block w3-button w3-small w3-text-white" style="text-align: left">
            &nbsp;&nbsp;
            <fa name="circle-o" style="color: gray"></fa> 
            <strong style="font-size:16px"> pot log</strong>
          </button>

        </div>
    </div>
    <!-- log end -->

    <br>
  </div>
  <!-- sidepanel for small screens end-->


  <div class="w3-container" id="main">
    <router-outlet></router-outlet>
  </div>

</div>

<script>
</script>