<div *ngIf="!enableAllUI" class="w3-overlay" style="display: flex; cursor: wait; align-items: center; justify-content: center; ">
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>

<br>

<div class="w3-container w3-border w3-card w3-white">

  <!-- table title -->
    <p class="tableTitle" *ngIf="pageIndex == 2">head office list</p>
    <p class="tableTitle" *ngIf="pageIndex == 1">distributor list</p>
    <p class="tableTitle" *ngIf="pageIndex == 0">shop list</p>
    <hr class="tableTitleHr">

    <br>
  <!-- table title end -->

  <!-- date and time filter -->

    <!-- screen name, radio btn, and search -->
    <div class="w3-row">
      <div class="w3-left">
        <button *ngIf="maxUpstep != pageIndex" class="w3-btn w3-round w3-text-gray w3-animate-right" (click)="uprank()"  style="background-color: #7dd2ec;  margin-left: 15px"><fa name="arrow-left" size="lg"></fa></button>
      </div>
      <div class="w3-right w3-mobile" style="margin: 5px" style="margin: 5px">
        <button class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec;  margin-right: 11px">search</button>
      </div>


      <div class="w3-right w3-mobile" style="margin: 5px">
        <input class="w3-input w3-border" style="height: 35px;">
      </div>

      <div class="w3-right w3-mobile" style="margin: 5px">
        <select class="w3-select" name="option" style="height: 37px;">
          <option value="2" selected>HO ID</option>
          <option value="2">title</option>
          <option value="2">contents</option>
        </select>
      </div>
    </div>
  <!-- date and time filter -->
    
  <!-- table -->
    <div class="w3-responsive w3-container">
        <table class="w3-table w3-striped w3-centered w3-border">
            <thead>
              <tr class="w3-text-white" style="background-color: #4ca5df;">
                <th>No.</th>
                <th>
                  <span *ngIf="pageIndex == 2">HO</span> 
                  <span *ngIf="pageIndex == 1">Distributor</span> 
                  <span *ngIf="pageIndex == 0">store</span> 
                  ID
                </th>
                <th>PW</th>
                <th>name</th>
                <th>registration date</th>
                <th>contact no.</th>
                <th>Commission</th>
                <th>holding money</th>
                <th>total holding money</th>
                <th>members money</th>
                <th>total money</th>
                <th *ngIf="pageIndex == 2">distributor</th>
                <th *ngIf="pageIndex > 0">store</th>
                <th>members</th>
                <th *ngIf="pageIndex > 0">
                    <span *ngIf="pageIndex == 2">distributor</span> 
                    <span *ngIf="pageIndex == 1">store</span>&nbsp;list</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let office of officeList">
                <td>{{office.row_number}}</td>
                <td>{{office.OfficeID}}</td>
                <td>{{office.Password}}</td>
                <td>{{office.Name}}</td>
                <td>{{office.RegisteredDateTime | date : "shortDate"}}</td>
                <td>{{office.PhoneNumber}}</td>
                <td>{{office.Commission | number}}%</td>
                <td>{{office.holdingMoney | number}}</td>
                <td>{{office.TotalHoldingMoney | number}}</td>
                <td>{{office.MembersMoney | number}}</td>
                <td>{{office.TotalMoney | number}}</td>
                <td *ngIf="pageIndex == 2">{{office.distributorsCount | number}}</td>
                <td *ngIf="pageIndex > 0">{{office.shopsCount | number}}</td>
                <td>{{office.playersCount | number}}</td>

                <td *ngIf="pageIndex > 0">
                  <div style="margin: 3px">
                    <button type="button" (click)="lowrank(office.UserAccountID, office.Commission)" class="w3-block w3-btn w3-round w3-text-white" style="background-color: #d9544f;">details</button>
                  </div>
                </td>

                <td>
                  <div class="w3-row">
                    <button class="w3-btn w3-round w3-text-white" style="background-color: #efad4d; margin: 4px;">hold</button>
                    <button class="w3-btn w3-round w3-text-white" style="background-color: #d9544f; margin: 4px;">accept</button>
                    <button class="w3-btn w3-round w3-text-white" style="background-color: #25b999; margin: 4px;">delete</button>
                  </div>
                </td>

              </tr>

              <tr [hidden]="!backLoading">
                <td colspan="18">
                  <fa name="spinner" animation="spin" size="lg"></fa>
                </td>
              </tr>

            </tbody>
            
          </table>
          <br>

    </div>
  <!-- table end -->
    <!--pagination and number of entries -->
    <div class="w3-row-padding">
      <!-- number of entries -->
      <div class="w3-third">
          <i>Showing 1 to 20 of 20 entries</i>
      </div>
      <!-- pagination -->
      <div class="w3-third">
          <div class="w3-row w3-center" [hidden]="hidePagination">
  
              <button (click)="first()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
                <fa name="angle-double-left" size="lg"></fa>&nbsp;first
              </button>
              <button (click)="previous()" class="w3-button w3-round w3-text-white w3-animate-left" style="background-color: #4ca5df; margin:2px" *ngIf="currentPage > 0">
                <fa name="angle-left"  size="lg"></fa>
              </button>
  
              <button type="button" *ngFor="let n of pages | slice : currentPage : currentPage + 5;" [ngClass]=" {'w3-light-blue' : n == currentPaginationButton}" (click)="paginate(n); " class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px">{{n}}</button>
  
              <button type="button" (click)="next()" class="w3-button w3-round w3-text-white w3-animate-right" style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage && pages.length > 5">
               <fa name="angle-right"  size="lg"></fa>
              </button>
              <button (click)="last()" class="w3-button w3-round w3-text-white w3-animate-right"   style="background-color: #4ca5df; margin:2px" *ngIf="currentPaginationButton != lastPage  && pages.length > 8" >
                  last&nbsp;<fa name="angle-double-right" size="lg"></fa>
              </button >
  
          </div>
      </div>
      <!-- intended to leave it empty for spacing -->
      <div class="w3-third">
        <p></p>
      </div>
    </div>
    <!--pagination and number of entries end -->

    <br>
    <!-- add head office button -->
    <button *ngIf="pageIndex == 2" class="w3-button w3-round w3-block w3-text-white" style="background-color: #4ca5df">add head office</button>
    <button *ngIf="pageIndex == 1" class="w3-button w3-round w3-block w3-text-white" style="background-color: #4ca5df">add distributor</button>
    <button *ngIf="pageIndex == 0" class="w3-button w3-round w3-block w3-text-white" style="background-color: #4ca5df">add shop</button>
    <br>


</div>

<br>

  <div class="w3-whole w3-container">
    <div class="w3-half">
      <!-- add head office -->
      <form class="w3-container w3-border w3-card w3-white " style="width:99%">
        <!-- table title -->
          <p class="tableTitle">
            <span >
              add 
              <span *ngIf="pageIndex == 2">head office </span>
              <span *ngIf="pageIndex == 1">distributor </span>
              <span *ngIf="pageIndex == 0">shop</span>
            </span>

            <span class="w3-right"><a href=""><fa name="times"></fa></a></span>
          </p>


          <hr class="tableTitleHr">
          <br>
          <!-- HO ID -->
      
          <label for="officeID">
            <span *ngIf="pageIndex == 2">head office </span>
            <span *ngIf="pageIndex == 1">distributor </span>
            <span *ngIf="pageIndex == 0">shop</span>
            ID</label>
          <div class="w3-bar">
            <input type="text" [(ngModel)]="addOfficeUserName" [ngModelOptions]="{standalone: true}" id="officeID" class="w3-input w3-bar-item w3-border" style="width: 65%">
            <button type="button" (click)="officeIDCheck()" class="w3-btn w3-round w3-text-white w3-bar-item"  style="background-color: #4ca5df; width: 35%; height: 100%; height: 40px">inquire</button>
          </div>
      
          <hr>
      
          <label for="officeName">Name</label>
          <input type="text" [(ngModel)]="addOfficeName" [ngModelOptions]="{standalone: true}" id="officeName" class="w3-input w3-border">
          
          <hr>
          
          <label for="contactno">Contact No.</label>
          <input type="text" [(ngModel)]="addOfficePhoneNumber" [ngModelOptions]="{standalone: true}" id="contactno" class="w3-input w3-border">
      
          <hr>
      
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="addOfficePassword" [ngModelOptions]="{standalone: true}" id="password" class="w3-input w3-border">
      
          <label for="confirmPassword">Confrim Password</label>
          <input type="password" id="confirmPassword" class="w3-input w3-border">
      
          <hr>
      
          <!-- commission -->
          <div class="w3-row" style="margin-left: 11%; margin-right: 15%">
              <div class="w3-col" style="width: 10%">
                <p class="w3-right">commission <strong class="w3-center">{{addOfficeCommisionValue}}%</strong></p>
              </div>
              <div class="w3-rest" style="margin-top: 10px; margin-bottom: 10px">
                <br>
                <mat-slider [(ngModel)]="addOfficeCommisionValue" [ngModelOptions]="{standalone: true}" style="width:98%; padding-right: 10px;" min="0" [max]="currentCommission" step="0.1" value="currentCommission" thumbLabel="true"></mat-slider>
              </div>
            </div>
          <!-- commission end -->
            <hr>
      
          <!-- buttons -->
          <div class="w3-row inputMargin" >
            <div class="w3-center" style="margin-top: 10px; margin-bottom: 10px">
              <button type="button" *ngIf="pageIndex == 2" (click)="addHeadOffice()" class=" w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register head office</button>
              <button type="button" *ngIf="pageIndex == 1" (click)="addDistributor()" class=" w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register distributor</button>
              <button type="button" *ngIf="pageIndex == 0" (click)="addShop()" class=" w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register shop</button>
              <!-- <button type="button " class=" w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">back</button> -->
            </div>
          </div>
          <!-- buttons end -->
       
          <br>
      
        </form>
      <!-- add head office end-->

    </div>  
    <div class="w3-half">
      <!-- edit head office -->
      <div class="w3-container w3-border w3-card w3-white">
      
          <!-- table title -->
            <p class="tableTitle">edit head office</p>
            <hr class="tableTitleHr">
        
            <!-- HO ID -->
        
            <label for="officeID">HO ID</label>
            <div class="w3-bar">
              <input type="text" class="w3-input w3-bar-item w3-border" style="width: 65%">
              <button class="w3-btn w3-round w3-text-white w3-bar-item"  style="background-color: #4ca5df; width: 35%; height: 100%">inquire</button>
            </div>
        
            <hr>
        
            <label for="officeName">Name</label>
            <input type="text" class="w3-input w3-border">
            
            <hr>
            
            <label for="contactno">Contact No.</label>
            <input type="text" class="w3-input w3-border">
        
            <hr>
        
            <label for="password">Password</label>
            <input type="password" class="w3-input w3-border">
        
            <label for="confirmPassword">Confrim Password</label>
            <input type="password" class="w3-input w3-border">
        
            <hr>
        
        
            <!-- buttons -->
            <div class="w3-row inputMargin" >
              <div class="w3-center" style="margin-top: 10px; margin-bottom: 10px">
                <button class="w3-btn w3-round w3-text-white"  style="background-color: #4ca5df; margin-right: 11px">register</button>
                <button class="w3-btn w3-round w3-text-white"  style="background-color: #7dd2ec; margin-right: 11px">back</button>
              </div>
            </div>
            <!-- buttons end -->
         
            <br>
        
        </div>
        <!-- edit head office end-->
    </div>  
    
    <br>
    <br>
  </div>

  <br>
  <br>



